<div id="comments">
{% case page.comment_count %}
  {% when 0 %}
  {% when 1 %}
    <h2>1 Comment</h2>
  {% else %}
    <h2>{{page.comment_count}} Comments</h2>
{% endcase %}
{% for c in page.comments %}
  <div class="comment_{% cycle 'odd', 'even' %}">
    <p class="comment_header">
      {% if c.link and c.link != '' %}
        <a href="{{c.link}}">{{c.name}}</a>
      {% else %}
        {{c.name}}
      {% endif %}
      {% if c.date %}
        – <span class="comment_date">{{c.date}}</span>
      {% endif %}
    </p>
    <p>
      {{c.comment | newline_to_br}}
    </p>
  </div>
{% endfor %}
<form id="commentform" enctype="text/plain" method="POST" action="mailto:{{ site.email }}?Subject=New Comment: {{ page.title }}">
  <header>
    <h1>Post a comment</h1>
    <div>
      <p>Your email address will <em>not</em> be published. The form doesn’t spit out an email? Go get a real browser and/or mail client.</p>
    </div>
  </header>
  <input type="hidden" name="post_id" value="{{page.id}}" />
  <div>
    <label id="label1" for="Name">Name:</label>
    <div>
      <input id="Name" name="name" type="text" size="25" tabindex="1">
    </div>
  </div>
  <div>
    <label id="label2" for="Link">Website:</label>
    <div>
      <input id="Link" name="link" type="text" size="25" tabindex="2">
    </div>
  </div>
  <div>
    <label class="desc" id="label3" for="comment">Comment:</label>
    <div>
      <textarea id="Comment" name="comment" spellcheck="true" rows="10" cols="60" tabindex="3"></textarea>
    </div>
  </div>
  <div>
    <input id="SubmitComment" name="submit" type="submit" value="Submit Comment">
  </div>
</form>
</div>
