{% if site.branding %}
  <div class="site-branding">
    <a href="{{ root_url }}/" class="site-logo-link" rel="home">
      <img src="{{site.branding}}" alt="{{site.title}}" class="site-logo" data-size="libre-site-logo" />
    </a>
  </div>
{% endif %}

<hgroup class="site-branding">
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
