<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archivo</a></li>
  <li><a href="{{ root_url }}/contact.html">Contacto</a></li>
  <li><a href="{{ root_url }}/about.html">Acerca de</a></li>
</ul>
