{% capture category %}{{ post.categories | size }}{% endcapture %}
{% capture tag %}{{ post.tags | size }}{% endcapture %}
<h1><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
{% if category != '0' or tag != '0' %}
<footer>
{% if category != '0' %}
  <span class="categories">posted in {{ post.categories | category_links }}</span>
{% endif %}
{% if tag != '0' %}
  <span class="tags">tagged with {{ post.tags | tag_links }}</span>
{% endif %}
</footer>
{% endif %}
